<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <h1>department table (p)</h1>
                <th>departno</th>
                <th>dname</th>
                <th>loc</th>
            </tr>
            {% for i in name %}
            <tr>
                <td>{{i.departno}}</td>
                <td>{{i.dname}}</td>
                <td>{{i.loc}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>